* {
    border: none;
    border-radius: 0;
    font-family: "Maple Mono", "Symbols Nerd Font", "Font Awesome 6 Free", "Font Awesome 5 Brands";
    font-weight: bold;
    font-size: 18px;
    min-height: 0;
}

window#waybar {
    /*background-color: rgba(33, 33, 33, 0.9);*/
    background-color: rgba(15, 20, 25, 0.9);
    /*border-bottom: 4px solid rgba(100, 114, 125, 0.5);*/
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    /*opacity: 0.2;*/
    background-color: #FFFFFF;
}


window#waybar.empty {
    background-color: #FFFFFF;
}

window#waybar.solo {
    background-color: #FFFFFF;
}


window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0px 7px;
    margin: 0 1px;
    background-color: transparent;
    color: #b0bec5;
    /*border-bottom: 3px solid transparent;*/
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: inherit;
    text-shadow: inherit;
}

#workspaces button.active {
    /*background-color: #;*/
    color: #ab47bc;
    /*border-bottom: 3px solid #ffffff;*/
}

#workspaces button.urgent {
    background-color: #f07178;
}

#custom-arrow-right,
#custom-arrow-left {
    color: #ab47bc;
    margin: 0 2px;
}



#clock,
#clock.2,
#clock.3,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0px 5px;
    margin: 0px 2px;
    color: #b0bec5;
    background-color: rgba(0, 0, 0, 0);
}

#battery.charging {
    color: #ffcb6b;
}

#battery.critical:not(.charging) {
    color: #f07178;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: #f8f8f2;
    }
}

label:focus {
    background-color: #000000;
}

#idle_inhibitor {
    border-radius: 100%;    
    padding: 0px 6px;
    margin: 0px 6px;
    /*background-color: rgb(80, 84, 108);*/
}

#idle_inhibitor.activated {
    background-color: #44475a;
}
